.filter-box{
    height: 100%;
    width: 100%;
}

.filter-tag{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    margin: 7px 0px;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s;
}

h3{
    font-size: 1.3rem;
    color: #cc5939;
    margin: 10px 0px;
}

.clr-btn{   
    border: 1px solid #38444c;
    color: #38444c;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    width: 100%;
    margin-top: 30px;
    font-size: 1rem;
    background: #fff;
}

.clr-btn:hover{
    background: #cc5939;
    color: #fff;
    border: 1px solid #cc5939;
}