main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #fafcfe;  
     /*gradient bg  */
    background: linear-gradient(180deg, #dec8c0 0%, #e4d8bc 100%);
    padding: 0 120px;
}
section{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-start;
    margin-top: 100px;
    width: 100%;
    column-gap: 45px;
}
section .tag-box{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    padding: 20px;
    width: 20%;
    min-height: 60vh;
    
}
section .quote-main{
    width: 100%;
}

