.container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.container .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container .row .back{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: #74848c;
    transition: all 0.3s;
    cursor: pointer;
}

.container .row .back span{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
}

.container .row .back:hover{
    color: #38444c;
}

.container .row .date{
    text-align: right;
    width: 100%;
    color: #74848c;
}

.container .img-box{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}

.container .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .img-box .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.container .img-box .fav{
    position: absolute;
    top: 10px;
    left: 7px;
    background: transparent;
    color: #bcc8cd;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    z-index: 20;
    border: none;
    transition: all 0.3s;
}

.container .img-box .fav:hover{
    color: crimson;
}

.container .img-box .fav.active{
    color: crimson;
}

.container .img-box .img-tag{
    position: absolute;
    top: 12px;
    right: 7px;
    background: #cc5939;
    color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.container .features{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .features .feature{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #74848c;
    font-size: 1.2rem;
}

.container .features .feature span{
    margin-left: 10px;
}

.container .details{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.container .details .title{
    font-size: 2.5rem;
    font-weight: 600;
    color: #5c2c19;
    display: flex;
    align-items: center;

}


.container .details h3 .circle{
    height:25px;
    width:25px;
    display:grid;
    place-items: center;
    font-size: 0.7rem;
    margin-left: 10px;
    margin-top: 3px;
}

.container .details h3 .circle i{
    margin-bottom: 1px;
}

.container .details h3 .circle.veg{
    border: 2px solid #38bd47;
    color: #38bd47;
}

.container .details h3 .circle.non-veg{
    border: 2px solid #e75a5a;
    color: #e75a5a;
}

.container .border{
    width: 100%;
    height: 1px;
    background: #bcc8cd;
    margin-top: 20px;
    opacity: 0.25;
}

.container .ingredients{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.container .ingredients h3{
    font-size: 2rem;
    font-weight: 600;
    color: #5c2c19;
}

.container .ingredients .list{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    list-style: none;
}

.container .ingredients .list .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.container .ingredients .list .item i{
    margin-right: 10px;
}

.container .steps{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.container .steps h3{
    font-size: 2rem;
    font-weight: 600;
    color: #5c2c19;
}

.container .steps .list{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-left: 15px;
}

.container .steps .list .item{
    width: 100%;
}

.container .steps .list .item i{
    margin-right: 10px;
}

.container .tags{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    row-gap: 5px;
    padding-bottom: 20px;
}

.container .tags .tag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #74848c;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 5px;
    background: #f1f1f1;
    margin-right: 10px;
}

.container .btn-row{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    opacity: 0.9;
}

.btn-secondary {
    background-color: #38444c;
    color: #fff;
}

