<div class="container">
    <div class="row">
        <div class="back inter-medium">
            <i class="fas fa-arrow-left"></i>
            <span>Back to recipes</span>
        </div>
        <div class="date inter-medium">
            <span>Published on: 12/12/2020</span>
        </div>
    </div>   
    <div class="img-box">
        <img src="https://images.unsplash.com/photo-1469307670224-ee31d24b6b9a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGRpc2h8ZW58MHx8MHx8fDA%3D" alt="recipe-details">
        <div class="overlay"></div>
        <button class="fav">
            <i class="fas fa-heart"></i>
        </button>
        <div class="img-tag poppins-regular">Main course</div>
    </div>
    <div class="features">
        <div class="feature poppins-medium">
            <i class="fas fa-fire"></i>
            <span>200 cal</span>
        </div>
        <div class="feature poppins-medium">
            <i class="fas fa-utensils"></i>
            <span>Indian</span>
        </div>
        <div class="feature poppins-medium">
            <i class="fas fa-users"></i>
            <span>4 serves</span>
        </div>
        <div class="feature poppins-medium">
            <i class="fas fa-clock"></i>
            <span>30 mins</span>
        </div>
    </div>
    <div class="details">
        <h3 class="title inter-semibold">
            Recipe title
        </h3>
        <p class="description poppins-regular">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
    <hr class="border" />

    <div class="ingredients">
        <h3 class="title inter-semibold">
            Ingredients
        </h3>
        <ul class="list">
            <li class="item poppins-regular">
                <i class="fas fa-check"></i>
                <span>1 cup of rice</span>
            </li>
            <li class="item poppins-regular">
                <i class="fas fa-check"></i>
                <span>1 cup of rice</span>
            </li>
        </ul>
    </div>
    <hr class="border" />
    <div class="steps">
        <h3 class="title inter-semibold">
            Steps
        </h3>
        <ol class="list" type="i">
            <li class="item poppins-regular">
               Add 1 cup of rice
            </li>
            <li class="item poppins-regular">
                Add 3 cup of rice
            </li>
        </ol>
    </div>
    <hr class="border" />
    <div class="tags">
            <div class="tag poppins-regular">#healthy</div>
            <div class="tag poppins-regular">#vegan</div>
            <div class="tag poppins-regular">#spicy</div>
    </div>
</div>