<div class="recipe-card">
    <div class="img-box">
        <img [src]="recipe.imagePath" [alt]="recipe.name" >
        <div class="overlay"></div>
        <div class="tag poppins-regular">{{recipe.imgTag}}</div>
        <button class="fav"  (click)="onToggleFavorite()">
            <i class="fa-solid fa-heart" [ngClass]="{'active': isFavorited()}"></i>
        </button>
        <div class="txt">
            <h3 class="inter-semibold">{{recipe.name}} 
                <div class="circle non-veg" [ngClass]="{'veg': recipe.type === 'veg', 'non-veg': recipe.type === 'non-veg'}">
                    <i class="fa-solid fa-circle"></i>
                </div>
            </h3>
            <p class="poppins-light">{{trimDescription(recipe.description)}}</p>
        </div>
    </div>
    <div class="content-box">
        <div class="row">
            <div class="col">
                <div class="data cal">
                    <i class="fa-solid fa-fire"></i>
                    <p class="poppins-light">{{recipe.calories}} cals</p>
                </div>
                <div class="data time">
                    <i class="fa-solid fa-clock"></i>
                    <p class="poppins-light">{{recipe.timeTaken}}</p>
                </div>
            </div>
            <div class="col">
                <div class="data">
                    <i class="fa-solid fa-utensils"></i>
                    <p class="poppins-light">{{recipe.serves}} serves</p>
                </div>
                <div class="data">
                    <i class="fa-solid fa-calendar"></i>
                    <p class="poppins-light">{{recipe.date | date:'shortDate'}}</p>
                </div>
            </div> 
        </div>
        <div class="tag-row">


            <!-- can you edit this "for"  for array of strings like : tags = ['beef', 'pasta'];-->

            @for( tag of recipe.tags; track $index ){
                <div class="tag">
                    <p class="poppins-regular">#{{tag}}</p>
                </div>
            }
        </div>
        <div class="btn-row">
            <button class="btn view-btn">
                <i class="fa-solid fa-eye"></i> View
            </button>
            <button class="btn delete-btn" (click)="onDelete()">
                <i class="fa-solid fa-trash"></i> Delete 
            </button>
        </div>
    </div>

</div>