<div class="recipe-card">
    <div class="img-box">
        <img src="https://images.unsplash.com/photo-1469307670224-ee31d24b6b9a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGRpc2h8ZW58MHx8MHx8fDA%3D" alt="Recipe">
        <div class="overlay"></div>
        <div class="tag poppins-regular">Main Course</div>
        <button class="fav">
            <i class="fa-solid fa-heart"></i>
        </button>
        <div class="txt">
            <h3 class="inter-semibold">Recipe Name 
                <div class="circle non-veg">
                    <i class="fa-solid fa-circle"></i>
                </div>
            </h3>
            <p class="poppins-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget sapien.</p>
        </div>
    </div>
    <div class="content-box">
        <div class="row">
            <div class="col">
                <div class="data cal">
                    <i class="fa-solid fa-fire"></i>
                    <p class="poppins-light">450 Calories</p>
                </div>
                
                <div class="data">
                    <i class="fa-solid fa-calendar"></i>
                    <p class="poppins-light">12/12/21</p>
                </div>
            </div>
            <div class="col">
                <div class="data">
                    <i class="fa-solid fa-utensils"></i>
                    <p class="poppins-light">4 Serves </p>
                </div>
                <div class="data time">
                    <i class="fa-solid fa-clock"></i>
                    <p class="poppins-light">30 Minutes</p>
                </div>
            </div> 
        </div>
        <div class="tag-row">
            <div class="tag">
                <p class="poppins-regular">#pasta</p>
            </div>
            <div class="tag">
                <p class="poppins-regular">#easy</p>
            </div>
            <div class="tag">
                <p class="poppins-regular">#italian</p>
            </div>
        </div>
        <div class="btn-row">
            <button class="btn view-btn">
                <i class="fa-solid fa-eye"></i> View
            </button>
            <button class="btn delete-btn">
                <i class="fa-solid fa-trash"></i> Delete 
            </button>
        </div>
    </div>

</div>